{#utilisation squelette#}
{% extends "base.html.twig" %}

{#Définition titre#}
{% block title %}Créer un compte{% endblock %}

{#Remplissage du body#}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <h1 class="text-center my-5">Le Blog de Wolverine</h1>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mx-auto">
            {{ form(registrationForm) }}
        </div>
    </div>

{% endblock %}
