@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0E0D4B;
    color: #C8BE59;
}

.main-navbar .main-navbar-logo{
    width: 55px;
    margin-right: 16px;
}

.wolverine-cover{
    height: 400px;
    background-image: url('../images/wolverine-cover.jpg');
    background-attachment: fixed;
    background-size: cover;
}
