{#utilisation squelette#}
{% extends "base.html.twig" %}

{#Définition titre#}
{% block title %}Liste des publications{% endblock %}

{#Remplissage du body#}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <h1 class="text-center my-5">Publications du Blog de Wolverine</h1>

            </div>
        </div>

        {# Affichage des articles #}
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="row">
                    <div class="col-12">

                        {# Boucle pour parcourir tous les articles à afficher #}
                        {% for article in articles %}

                            <div class="card my-3 bg-warning">

                                <div class="card-header">

                                    {# Titre de l'article, cliquable vers la page détaillée de l'article #}
                                    <a class="text-decoration-none font-weight-bold text-dark text-uppercase" href="#####">
                                        <i class="far fa-newspaper me-2 text-dark"></i>{{ article.title }}
                                    </a>
                                </div>
                                <div class="card-body text-dark">

                                    <div class="mb-2">

                                        {# Affichage du contenu de l'article, tronqué à 100 mots, sans balises html, suivi de "..." et d'un lien "lire la suite" #}
                                        {{ article.content|excerpt(100) }}
                                        <a class="text-decoration-none text-dark" href="#####">Lire la suite</a>
                                    </div>

                                    {# Date et auteur de l'article #}
                                    <footer class="blockquote-footer my-2 text-dark">Publié le <strong>{{  article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{  article.author.pseudonym }}</strong></footer>


                                </div>
                            </div>

                        {% else %}

                            <div class="row">
                                <div class="col-12 text-center alert alert-warning">Aucune publication à afficher.</div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}