{# Variable qui contiendra le nom de la route actuellement chargée (sert pour le menu par ex #}
{% set route = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{#  Affichage titre venant de la vue (bloc title) + nom du site  #}
    <title>{% block title %}{% endblock %} - Le blog de Wolverine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{#  Bloc pour permettre aux pages de rajouter individuellement des fichiers CSS additionnels  #}
    {% block css %}{% endblock %}

</head>
<body>

    {# Inclusion du menu principal du site #}
    {% include 'partials/_main_navbar.html.twig' %}
    {# Inclusion du contenu des pages (via le bloc body) #}
    {% block body %}{% endblock %}

    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>